<!-- Main container with named template -->
<ng-template #filesTemplate let-files let-depth="depth">
    <ng-container *ngFor="let file of files">
        <!-- File Element -->
        <div class="tab-element file" *ngIf="file.type != 'FOLDER'" (click)="openFile(file)">
            <div 
                class="icon" 
                [ngStyle]="{'background-image': file.type ? 
                    'url(\'icons/fileTypes/' + file.type + '.svg\')' : 
                    'url(\'icons/fileTypes/UNKNOWN.svg\')'}"
            ></div>
            <p>{{ file.name }}</p>
        </div>

        <!-- Folder Element -->
        <div class="tab-element folder" *ngIf="file.type == 'FOLDER'" 
            [ngClass]="{'collapsed': file.collapsed}"
            [style.--folder-group-color]="getFolderColor(depth)"
        >
            <div class="action" (click)="file.collapsed = !file.collapsed">
                <div 
                    class="icon image-icon-dark" 
                    [ngStyle]="{'background-image': file.collapsed ? 
                        'url(\'icons/chevron-right.svg\')' : 
                        'url(\'icons/chevron-down.svg\')'}"
                ></div>
                <p>{{ file.name }}</p>
                <div class="actions">
                    <button></button>
                    <button></button>
                </div>
            </div>

            <!-- Recursive call with incremented depth -->
            <div class="children" *ngIf="!file.collapsed">
                <ng-container *ngTemplateOutlet="filesTemplate; 
                    context: { $implicit: file.content, depth: (depth || 0) + 1 }">
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-template>

<!-- Initial template call to start recursion with depth 0 -->
<ng-container *ngTemplateOutlet="filesTemplate; context: { $implicit: files, depth: 0 }"></ng-container>