# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build artifacts
dist/
build/

# Ignore llama.cpp and models folder
llama.cpp/
models/