<div>
    <div class="sync_navigation">
        <div class="icon"></div>

        <button class="sync_navigation_button"><a class="navigation_link" routerLink="">Home</a></button>
        <button class="sync_navigation_button"><a class="navigation_link current_page" routerLink="youtubeHome">YouTube</a></button>
        <button class="sync_navigation_button"><a class="navigation_link" routerLink="contactUs">Contact</a></button>
        <button class="sync_navigation_button"><a class="navigation_link" routerLink="about">About Us</a></button>
    </div>

    <div class="youtube_navigation">
        <div class="icon">ham menu</div>
        <div class="icon">youtube logo</div>

        <input class="search_bar" placeholder="Search">

        <div class="icon user_icon"></div>
    </div>

    <div class="youtube_results">

        <div class="youtube_menu">
            <div class="icon">home</div>
            <div class="icon">subs</div>
            <div class="icon">shorts</div>
            <div class="icon">library</div>
        </div>

        <div class="youtube_video_grid">
            <div class="video"><div class="thumbnail"></div><p>title</p><p>title</p></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>


    </div>    
<div>
