<div class="container" [ngClass]="{'hidden': visibility_status === 'hidden', 'reduced': visibility_status === 'reduced'}">
    <button class="media-header" (click)="toggle_visibility(); $event.stopPropagation()">
        <div class="audio-progress" [style.--progress]="audio_current_time / audio_duration" [style.opacity]="visibility_status === 'reduced' ? '1' : '0'"></div>
        <div class="status" [style.mask-image]="'url(' + (visibility_status === 'visible' ? 'chevron-down.svg' : 'chevron-up.svg') + ')'"></div>
        <div class="media-info" [style.flex-direction]="visibility_status === 'reduced' ? 'column' : 'column-reverse'">
            <span class="title">{{ visibility_status === "visible" ? (current_playlist_data?.name || "#no playlist") : (current_song_data?.song_name || "#no name") }}</span>
            <span class="subtitle">{{ visibility_status === "visible" ? "Playing From" : (current_song_data?.original_artist_name || "#no artist") }}</span> 
        </div>
        <div class="player-status" (click)="toggle_play(); $event.stopPropagation();" [style.display]="visibility_status === 'reduced' ? 'block' : 'none'" [style.--mask]="'url(' + (player_status === 'paused' ? 'player-play.svg' : 'player-pause.svg') + ')'"></div>
        <div class="queue" [style.display]="visibility_status === 'visible' ? 'block' : 'none'" [style.mask-image]="'url(\'playlist.svg\')'"></div>
    </button>
    <div class="media">
        <button (click)="test()">test</button>
        <div class="thumbnail">
            <img id="thumbnail" src="" alt="#Thumbnail" />
            <div class="main-audio-progress">
            <div class="buffer-bar" [style.width.%]="buffered_percent"></div>
                <input
                    type="range"
                    class="slider"
                    min="0"
                    [max]="audio_duration"
                    [value]="audio_current_time"
                    (input)="on_seek($event)"
                    [style.--value]="audio_current_time"
                    [style.--max]="audio_duration"
                    style="position: absolute;"
                />
            </div>
        </div>
        <audio id="audio" preload="auto">
            <source src="" type="audio/mp3">
        </audio>
        <div class="metadata">
            <button class="liked" [style.mask-image]="'url(' + (current_song_data?.liked === true ? 'heart-fill.svg' : 'heart.svg') + ')'" (click)="toggle_like()"></button>
            <div class="info">
                <div class="title">{{current_song_data?.song_name || "#no name"}}</div>
                <div class="artist">{{current_song_data?.original_artist_name || "#no artist"}}</div>
            </div>
        </div>
        <div class="controls">
            <button class="control-button" [ngClass]="{active: shuffle}" (click)="toggle_shuffle()" [style.mask-image]="'url(' + 'arrows-shuffle.svg' + ')'"></button> <!-- shuffle-->
            <button class="control-button active" [ngClass]="{active: player_status !== 'loading'}" (click)="previous()" [style.mask-image]="'url(' + 'player-skip-back.svg' + ')'"></button> <!-- previous-->
            <button class="control-button inverse" [ngClass]="{active: player_status !== 'loading', spinner: player_status === 'loading'}" (click)="toggle_play()" [style.--mask]="'url(' + (player_status !== 'loading' ? (player_status === 'paused' ? 'player-play.svg' : 'player-pause.svg') : 'loader.svg') + ')'"></button> <!-- play/pause-->
            <button class="control-button active" [ngClass]="{active: player_status !== 'loading'}" (click)="next()" [style.mask-image]="'url(' + 'player-skip-forward.svg' + ')'"></button> <!-- skip-->
            <button class="control-button" [style.mask-image]="'url(' + 'repeat.svg' + ')'"></button> <!-- repeat-->
        </div>
        <!-- <div class="volume-control" style="display: none;"> not available on pwa
            <input type="range" class="slider" min="0" max="100" value="50">
        </div> -->
        <div class="modifiers">
            <button class="modifier-button" [style.mask-image]="'url(' + 'plus.svg' + ')'"></button> <!-- add to playlist-->
            <!-- <button class="modifier-button"></button> equilizer (doesnt work on lockscreen) -->
            <button class="modifier-button" [style.mask-image]="'url(' + 'disco-ball-fill.svg' + ')'"></button> <!-- toggle disco mode-->
            <button class="modifier-button" [style.mask-image]="'url(' + 'badge-cc.svg' + ')'"></button> <!-- toggle lyrics-->
            <!-- <button class="modifier-button"></button> add to playlist -->
        </div>
    </div>
</div>