<p>media.player works!</p>
<!-- <button (click)="download_audio_blob_to_indexDB('6cZk0EAbe28')">Download - Love On the Dancefloor</button>
<button (click)="download_audio_blob_to_indexDB('J2X5mJ3HDYE')">Download - Invincible</button>
<button (click)="download_audio_blob_to_indexDB('X7NK0yFoVfM')">Download - On & On</button>
<button (click)="play()">Play</button>
<button (click)="pause()">Pause</button>
<button (click)="skip()">skip</button>
<button (click)="previous()">prev</button>
<button (click)="play_playlist()">Playlist</button>


<audio id="player" controls preload="auto">
    <source src="" type="audio/mp3">
</audio> -->