<div class="search-container">
    <button class="quick-action" [style.mask-image]="'url(' + (search_history.length === 0 ? 'search.svg' : 'chevron-left.svg') + ')'" (click)="left_quick_action_click()"></button> <!--search or previous search-->
    <input id="search" type="text" [(ngModel)]="search_query" placeholder="Search" (keydown.enter)="search()"/>
    <button class="quick-action hidden" [style.mask-image]="'url(\'x.svg\')'" [ngClass]="{hidden: search_query.length === 0}" (click)="clear_input()"></button> <!--clear-->
</div>
<div class="search-results">
    <div class="search-results-videos">
        <div *ngIf="(search_results?.artists?.total || 0) > 0" class="serach-results-artists">
            <div class="search-result artist disable-select" *ngFor="let artist of search_results?.artists?.results">
                <div class="thumbnail">
                    <img [src]="artist.snippet.thumbnails.default.url" alt="" />
                </div>
                <a class="name">{{ artist.snippet.title }}</a>
            </div>
        </div>

        <ng-container *ngIf="(search_results?.videos?.total || 0) > 0; else noResults">
            <button (click)="play_video(video)" class="search-result video disable-select" *ngFor="let video of search_results?.videos?.results">
                <div class="thumbnail">
                    <img [src]="video.snippet.thumbnails.default.url" alt="" />
                    <div class="duration">
                        00:00:00
                    </div>
                </div>
                <div class="info">
                    <div class="title">{{ video.snippet.title}}</div>
                    <div class="artist">{{ video.snippet.channelTitle}}</div>
                </div>
                <button class="hot-action" [style.mask-image]="'url(\'plus.svg\')'"></button>
            </button>
        </ng-container>
        <ng-template #noResults>
            <div class="no-results" *ngIf="search_query.length > 0 && !search_results?.videos && !search_results?.artists">
                <div class="icon" [style.mask-image]="'url(\'search.svg\')'"></div>
                <div class="message">No results found</div>
            </div>
        </ng-template>
    </div>
</div>
<div class="search-recommendations">
    <!-- likes genres etc -->
</div>