:host {
    position: relative;
    grid-row: 1;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-right: var(--space-md);
    gap: var(--space-md);
    color: var(--color-text-primary);
    overflow: auto;
    width: 100%;
}

.tab-carousel {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex: 1;
    background-color: var(--color-background);
    overflow-x: auto;
    overflow-y: visible;
    z-index: 1;
}
/* .tab-carousel::-webkit-scrollbar {
    display: none;
} */
.tab-carousel .tab-element:first-child {
    border-left: none;
}
.tab-element {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: solid 1px var(--color-accent-200);
    padding: var(--space-xxs) var(--space-md);
    cursor: pointer;
    color: var(--color-text-800);
    gap: var(--space-xs);
    text-align: center;
    text-overflow: ellipsis;
    text-rendering: optimizeSpeed;
    white-space: nowrap;
    font-size: .9rem;
    flex-shrink: 0;
    cursor: pointer;
    max-width: 250px;
    overflow-x: auto;
}
.tab-element.active {
    background-color: var(--color-workspace-background);
    border-bottom: solid 1px var(--color-workspace-background);
    border-top: solid 1px var(--color-secondary);
    cursor: default;
    color: var(--color-secondary-500);
}
.tab-element p {
    flex-shrink: 0;
}
.tab-element .icon {
    margin-right: var(--space-xxs);
    height: var(--space-xl);
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tab-element .closeTab {
    position: relative;
    margin-left: var(--space-sm);
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
    height: var(--space-lg);
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--space-xxs);
    padding: 0;
    display: flex;
    background-image: url("/icons/x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    flex-grow: 1;
}
.tab-element.active .closeTab {
    visibility: visible;
}