<div class="window-slider"></div>
<div class="container">
    <div class="tool-bar">
        <div 
            class="tool-bar-element"
            *ngFor="let tool of toolList"
                [ngClass]="{
                    'active': tool.id === activeToolId,
                }"
                (click)="activeToolId = tool.id"
        >
            <img 
                src="/icons/{{ tool.icon }}.svg" alt="{{ tool.name }}" 
                [ngClass]="{
                    'image-icon-dark': tool.darkIcon === true,
                    'image-icon-light': tool.darkIcon === false,
                }"
            />
        </div>
    </div>
    <div class="tool-extension" [ngSwitch]="activeToolId">
        <div class="tool-header">
            {{ headerTitle }}
        </div>
        <tools-files
            *ngSwitchCase="'files'"
        ></tools-files>
        <tools-collaborators
            *ngSwitchCase="'collaborators'"
        ></tools-collaborators>
        <tools-search
            *ngSwitchCase="'search'"
        ></tools-search>
    </div>
</div>

