<div *ngIf="tabs.length > 0" style="display:flex;flex-direction: row; width: 100%; ">
    <div class="tab-carousel hide-scrollbar">
        <div 
            class="tab-element"
            *ngFor="let tab of tabs"
                [ngClass]="{'active': tab.id === active_tab_id}"
                (click)="select_tab(tab.id);"
        >
                <div 
                    class="icon"  
                    [ngStyle]="{'background-image': tab.file_type ? 
                        'url(\'icons/fileTypes/' + tab.file_type + '.svg\')' : 
                        'url(\'icons/fileTypes/UNKNOWN.svg\')'}"
            ></div> 
            <p>{{tab.display}}</p>
            <button class="closeTab image-icon-dark" (click)="close_tab(tab.id); $event.stopPropagation();"></button>
        </div>
    </div>
    <button class="actions">More</button>
</div>
