:host {
    position: relative;
    display: block;

    --page-width: 8.26in;
    --page-height: 11.69in;
    --page-color: transparent;
    --default-text-color: var(--color-primary);
    --default-margin: var(--space-md);
    --minimum-page-width: 400px;

    width: 100%;
    height: 100%;
    overscroll-behavior: contain auto;
}


.tools-container {
    --group-height: 30px;
    position: sticky;
    z-index: 1000;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    padding: var(--space-lg) var(--space-sm);
    text-rendering: geometricPrecision;
    width: 100%;
    min-height: 55px;
    height: fit-content; 
    overflow-x: auto;
    pointer-events: none;
    position: relative;
    transform: translateY(-55px);
    justify-content: center;
}
.tool-container-backdrop {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: var(--color-workspace-background);
    z-index: 1;
    border-bottom: solid 1px var(--color-accent-200);
}

.tool-group {
    position: relative;
    min-height: var(--group-height);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    flex-shrink: 0;
    pointer-events: all;
}
.tool-group.collapsed {
    height: var(--group-height);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    flex-direction: column;
}
.tool-group.collapsed.active {
    height: fit-content;
    aspect-ratio: auto;
    overflow: visible;
}
.tool-dropdown-trigger {
    padding: var(--space-xxs);
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--space-sm);
    transition: background-color 0.15s ease 0s;
}
.tool-dropdown-trigger .icon {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-primary);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    z-index: 1;
}
.tool-dropdown-trigger::before {
    content: '';
    position: absolute;
    bottom: -20%;
    right: -20%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--color-workspace-background);
    z-index: 2;
    border-top-left-radius: var(--space-sm);
}
.tool-dropdown-trigger::after {
    content: '';
    position: absolute;
    bottom: -20%;
    right: -20%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%);
    mask-image: url('/icons/chevron-down.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color-primary);
    z-index: 2;
}
.tool-group.collapsed .tools-wrapper {
    opacity: 0;
}
.tool-group.collapsed.active .tools-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    background: var(--color-background);
    z-index: 3;
    flex-direction: column;
    border-radius: var(--space-sm);
    opacity: 1;
}
.tool-dropdown-trigger, .tool-group.collapsed .tools-wrapper {
    display: none;
}
.tool-group.collapsed .tool-dropdown-trigger, .tool-group.collapsed .tools-wrapper {
    display: flex;
    flex-direction: column;
}
.tools-wrapper {
    position: relative;
    display: flex;
    gap: var(--space-xxs);
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: opacity 0.15s ease 0s;
}
.tool {
    position: relative;
    height: 100%;
    min-height: var(--group-height);
    aspect-ratio: 1 / 1;
    border-radius: 0;
    background-color: transparent;
    scale: .8;
    transition: background-color 0.15s ease 0s;
    cursor: pointer;
    flex-shrink: 0;
    /*border-radius: var(--space-xxs);*/
    transition: background-color 0.15s ease 0s, border-radius 0s ease 0.15s;
    overflow: hidden;
}
.tool:hover, .tool-dropdown-trigger:hover {
    border-radius: var(--space-md);
    background-color: var(--color-primary-opacity-25);
    transition: background-color 0.15s ease 0s, border-radius 0s ease 0s;
}
.tool .tool-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    mask-size: cover;
    mask-repeat: no-repeat;
    transition: inherit;
    align-self: center;
    justify-self: center;
}
.tool.active {
    background-color: var(--color-primary);
}
.tool.active .tool-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-workspace-background);
    mask-size: cover;
    mask-repeat: no-repeat;
}
.group-divider {
    position: relative;
    width: 2px;
    height: var(--group-height);
    background-color: var(--color-accent-200);
}
.page-container {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
    overflow: auto;
    height: calc(100% - 50px);
    overscroll-behavior: contain auto;
}
.page {
    position: relative;
    min-width: var(--minimum-page-width);
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: var(--page-color);
    color: var(--color-primary);
    padding: var(--default-margin);
    outline: none; 
    overflow: auto;
    font-size: 12pt;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    padding: var(--space-sm) var(--space-md);
}
.page * {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
::selection {
    background-color: var(--color-primary-opacity-75); 
    color: var(--color-text); 
}
.page::selection {
    background-color: var(--color-primary-opacity-75); 
    color: var(--color-text);
}
.page *::selection {
    background-color: var(--color-primary-opacity-75);
    color: var(--color-text);
}
.page::-moz-selection,
.page *::-moz-selection {
    background-color: var(--color-primary-opacity-75);
    color: var(--color-text);
}

.dynamic-scroll-view {
    display: flex;
    --view-scale: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    /*min-width: 35px;
    width: 8%;
    max-width: 80px;*/
    width: 100px;
    background-color: var(--color-workspace-background);
    height: 100%;
    z-index: 100;
    border-left: solid 1px var(--color-accent-200);
    overflow-x: visible;
}
.dynamic-scroll-view .content {
    position: relative;
    min-width: calc(100% / var(--view-scale));
    height: calc(100% / var(--view-scale));
    position: relative;  
    transform: scale(var(--view-scale));
    transform-origin: top left;
}
.dynamic-scroll-view .content .text-block {
    text-decoration: none;
    position: relative;
    width: fit-content;
    text-rendering: optimizeSpeed;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}