<div class="tool-container-backdrop"></div>
<div class="tools-container hide-scrollbar">
    <ng-container *ngFor="let group of toolGroups; let isLast = last">
        <div class="tool-group collapsed active"
            #toolGroup
            [attr.data-group-name]="group.id"
            [attr.data-group-collapse-priority]="group.collapsePriority"
            [ngClass]="{
                'active': group.active,
            }"
        >
            <button class="tool-dropdown-trigger" (click)="toggleToolGroupCollapse(toolGroup)">
                <div class="icon" [style.mask-image]="`url('/icons/${group.collapseIcon}.svg')`"></div>
            </button>
            <div class="tools-wrapper">
                <button 
                    #toolButton
                    class="tool" 
                    *ngFor="let tool of group.tools"
                        [ngClass]="{'active': tool.active, 'disabled': !tool.active}"
                        (click)="tool.action(toolButton)"
                        [attr.aria-label]="tool.name"
                        [title]="tool.tooltip ? `${tool.name} (${tool.tooltip})` : tool.name"
                >
                    <div class="tool-icon" [style.mask-image]="`url('/icons/${tool.icon}.svg')`"></div>
                </button>
            </div>
        </div>
        <div class="group-divider" *ngIf="!isLast"></div>
    </ng-container>
</div>
<div class="page-container hide-scrollbar">
    <div class="page hide-scrollbar" *ngFor="let page of pages; let i = index" contenteditable="true">
        <div #pageContent 
            class="page-content" 
            [innerHTML]="page.content"
        >
        </div>
    </div>
    <!-- (input)="onContentChange($event, i)"> -->
</div>