:host {
    position: relative;
    display: block;

    --page-width: 8.26in;
    --page-height: 11.69in;
    --page-color: transparent;
    --default-text-color: var(--color-primary);
    --default-margin: var(--space-lg) var(--space-md);

    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: contain;
}

.tools-container {
    position: sticky;
    z-index: 1000;
    background-color: var(--color-workspace-background);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    padding: var(--space-lg) var(--space-sm);
    text-rendering: geometricPrecision;
    border-bottom: solid 1px var(--color-accent-200);
    width: 100%;
    height: 55px;
}
.tool-group {
    position: relative;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}
.tools-wrapper {
    position: relative;
    display: flex;
    gap: var(--space-xxs);
    width: 100%;
    height: 100%;
}
.tool {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--space-sm);
    background-color: transparent;
    scale: .8;
    transition: background-color 0.15s ease 0s;
    cursor: pointer;
}
.tool .tool-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    mask-size: cover;
    mask-repeat: no-repeat;
    transition: inherit;
}
.tool.active {
    background-color: var(--color-primary);
}
.tool.active .tool-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-workspace-background);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.group-divider {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: var(--color-accent-200);
}
.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
    min-width: max-content;
    overflow: auto;
    min-height: calc(100% - 50px);
}
:host::-webkit-scrollbar {
    display: none;
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: var(--page-width);
    min-height: var(--page-height);
    background-color: var(--page-color);
    color: var(--default-text-color);
    box-shadow: 0 0 0.5rem var(--page-color);
    padding: var(--default-margin);
    flex-shrink: 0;
    outline: none; 
}
.page-content {
    font-family: 'Calibri', 'Roboto', 'Segoe UI', Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.2;
    flex: 1;
    overflow: hidden; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    line-height: 1.5;
    width: 100%;
    height: 100%;
}