<div class="page">
    <h1>Style Page(dark mode)</h1>

    <h2>Main</h2>
    <div class="row">
        <div class="color_box" style="background-color: #181818;">Background #181818</div>
        <div class="color_box" style="background-color: #f8f7f7; color: #181818;">Text #f8f7f7</div>
        <div class="color_box" style="background-color: #bbb;">Caption/ placeholder Text #bbb</div>
    </div>

    <h2>Colors</h2>
    <div class="row">
        <div class="color_box" style="background-color: #d64f00;">Primary #d64f00</div>
        <div class="color_box" style="background-color: #eba400;">Secondary #eba400</div>
        <div class="color_box" style="background-color: #cfcfcf;">Accent #cfcfcf</div>
        <div class="color_box" style="background-color: #666;">input borders: accent color-400 (#666) </div>
        <div class="color_box" style="background-color: #333;">submenus / buttons: background-200(#333) </div>
    </div>

    <h2>fonts</h2>
    <p>font: inter</p>

    <h1 class="text" style="font-size: 40px; font-weight: 600;">h1 40px (weight 600)</h1>
    <h2 class="text" style="font-size: 36px; font-weight: 600;">h2 36px (weight 600)</h2>
    <h3 class="text" style="font-size: 32px; font-weight: 600;">h3 32px (weight 600)</h3>
    <h4 class="text" style="font-size: 28px; font-weight: 600;">h4 28px (weight 600)</h4>
    <h5 class="text" style="font-size: 24px; font-weight: 600;">h5 24px (weight 600)</h5>
    <h6 class="text" style="font-size: 20px; font-weight: 600;">h6 20px (weight 600)</h6>
    <p class="text" style="font-size: 16px; font-weight: 500;">normal text 16px (weight 500)</p>
    <p class="text" style="font-size: 12px;font-weight: 500; color: #bbb;">caption text 12px (#bbb wight 500)</p>

    <h2>inputs</h2>

    <button class="special_button">special button</button>
    <button class="normal_button">normal button</button>
    <p>placeholder: #bbb</p>
    <input class="normal_input" placeholder="border:accent-400">

    <h2>boxes</h2>

    <div class="color_box">border-radius: 4px</div>
    <div class="color_box">box-shadow: 0 4px 12px #fff a:10%</div>

    <h2>icons</h2>

    <p>size: 24px 24px</p>
    <p>storke color: text color (#f8f7f7)</p>
    <div class="row">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
    </div>

    <h2>spacing</h2>

    <p>default margins (between elements not full margin): top bottom 12px, left right 24px</p>
    <p>default padding (inside elements): top bottom 8px, left right 16px</p>
    
    <br>
    <br>
</div>    
    
    
